<!-- Footer Partial -->
		<script src="http://cdn.hasshdigital.com/repository/scripts/jquery-2.2.3.min.js"></script>
		<script src="http://cdn.hasshdigital.com/repository/scripts/angular.min.js"></script>
		<script src="http://cdn.hasshdigital.com/repository/scripts/tether.min.js"></script>
		<script src="http://cdn.hasshdigital.com/repository/scripts/bootstrap.min.js"></script>
	</body>
</html>