<!-- Header Partial -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hassh Digital</title>
	<link rel="stylesheet" href="http://cdn.hasshdigital.com/repository/styles/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.hasshdigital.com/repository/styles/bootstrap-theme.min.css">
	<link rel="stylesheet" href="/styles/main.min.css">
</head>
<body>