// Importing all modules
@import "../modules/mixins";
@import "../modules/reset";
@import "../modules/variables";
@import "../modules/fonts";
@import "../modules/colorguide";

h1 {
	text-align: center;
	color: red; 
}