<!-- Import main landing page template -->
{% extends "main_ovr.njk" %}

{% block cover %}
<div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">HASSH</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Hassh Digital</h1>
            <p class="lead">
	            At Hassh Digital we value the content we distribute, whether it's our web development services or our frequent blog articles about anything digital, our work is peer-reviewed and cross referenced to provide the secure platform we pride ourselves with.
            </p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>
</div>
{% endblock %}