<!-- main_ovr.njk -->
<!-- Page setup -->

<!-- Header -->
{% include "partials/header.njk" %}
{% include "partials/navigation.njk" %}

    <div class="site-wrapper">
	    <div class="site-wrapper-inner">
			<!-- For Cover -->
			{% block cover %}
			{% endblock %}
		</div>
	</div>

<!-- Footer -->
{% include "partials/footer.njk" %}


